.comp-33 {
    padding: 120px 0 180px
}

.comp-33-head {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 32px
}

.comp-33-head h1,.comp-33-head h2,.comp-33-head h3,.comp-33-head h4,.comp-33-head h5,.comp-33-head h6 {
    color: #373f43;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.comp-33-content .sort-toggle {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center
}

.comp-33-content .sort-toggle .switch-filter {
    align-items: center;
    display: inline-flex
}

.comp-33-content .sort-toggle .switch-filter .switch-filter-inner {
    align-items: center;
    background-color: #373f43;
    border-radius: 17.5px;
    display: inline-flex;
    gap: 6px;
    height: 35px;
    padding: 0 6px
}

.comp-33-content .sort-toggle .switch-filter a {
    align-items: center;
    border-radius: 17.5px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 2px 9px 4px;
    text-decoration: none;
    transition: all .4s ease;
    width: 100%
}

.comp-33-content .sort-toggle .switch-filter a:last-child {
    align-items: flex-end;
    justify-content: flex-end
}

.comp-33-content .sort-toggle .switch-filter a:hover {
    background-color: #fff;
    color: #373f43
}

.comp-33-content .sort-toggle .switch-filter a.active {
    background-color: #fff;
    color: #373f43;
    pointer-events: none
}

.comp-33-content:has(.case-btns.hidden) .comp-33-product-filters-title {
    display: flex
}

.comp-33-content:has(.case-btns.hidden) .filter-btns {
    margin-top: 0
}

.comp-33-content:has(.case-btns.hidden) .next-btn,.comp-33-content:has(.case-btns.hidden) .prev-btn {
    display: none
}

.comp-33-content:has(.case-btns.hidden) .studies {
    margin-top: 50px
}

.comp-33-content:has(.product-btns.show) .comp-33-product-filters-title i {
    transform: rotate(0)
}

.comp-33-content .comp-33-product-filters-title {
    align-items: center;
    border-bottom: .5px solid #25282a;
    color: #373f43;
    cursor: pointer;
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    gap: 24px;
    margin: 24px 0;
    padding-bottom: 9px
}

.comp-33-content .comp-33-product-filters-title i {
    cursor: pointer;
    display: flex;
    height: 8px;
    transform: rotate(180deg);
    transition: transform .4s ease;
    width: 15px;
    z-index: 2
}

.comp-33-content .comp-33-product-filters-title i svg {
    height: 100%;
    width: 100%
}

.comp-33-content .filter-btns {
    align-items: center;
    display: flex;
    gap: 48px;
    margin-top: 48px
}

.comp-33-content .filter-btns a {
    display: flex;
    height: 44px;
    transition: transform .5s ease;
    width: 44px
}

.comp-33-content .filter-btns a svg {
    height: 100%;
    width: 100%
}

.comp-33-content .filter-btns:has(.reached-left) .prev-btn {
    opacity: 0;
    visibility: hidden
}

.comp-33-content .filter-btns:has(.reached-right) .next-btn {
    opacity: 0;
    visibility: hidden
}

.comp-33 .studies-btns {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: auto
}

.comp-33 .studies-btns.product-btns {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /*height: 0;*/
    max-height: 175px;
    transition: all .4s ease-out;
    visibility: hidden;
    width: 100%
}

.comp-33 .studies-btns.product-btns.show {
    visibility: visible
}

.comp-33 .studies-btns.product-btns button {
    background: transparent;
    color: #25282a;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: auto;
    padding: 0 0 0 22px;
    position: relative;
    text-align: start
}

.comp-33 .studies-btns.product-btns button:before {
    border: 1px solid #25282a;
    border-radius: 2px;
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 13px
}

.comp-33 .studies-btns.product-btns button:after {
    background: #25282a;
    border-radius: 2px;
    content: "";
    height: 9px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 9px
}

.comp-33 .studies-btns.product-btns button.active,.comp-33 .studies-btns.product-btns button:hover {
    background: transparent;
    color: #25282a
}

.comp-33 .studies-btns.product-btns button.active:after {
    opacity: 1
}

.comp-33 .studies-btns.case-btns::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    scrollbar-width: none
}

.comp-33 .studies-btns.case-btns::-moz-scrollbar {
    display: none
}

.comp-33 .studies-btns.hidden {
    max-height: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(-100%);
    visibility: hidden
}

.comp-33 .studies-btns button {
    background: none;
    background-color: #f2f1f1;
    border: none;
    border-radius: 26px;
    color: #373f43;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-width: 200px;
    padding: 12px 48px 15px;
    transition: all .3s ease
}

.comp-33 .studies-btns button.active,.comp-33 .studies-btns button:hover {
    background-color: #373f43;
    color: #f2f1f1
}

.comp-33 .studies {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 76px
}

.comp-33 .studies-wrapper {
    height: 100%;
    margin-top: -40px;
    width: 100%
}

.comp-33 .studies-wrapper:after {
    clear: both;
    content: "";
    display: block
}

.comp-33 .studies-wrapper .gutter-sizer {
    width: 20px
}

.comp-33 .study-item {
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,.25);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    width: calc(33.33333% - 13.33333px)
}

.comp-33 .study {
    position: relative;
    transition: transform .5s ease;
    width: 100%
}

.comp-33 .study:hover .action {
    transform: scale(1.1)
}

.comp-33 .study-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.comp-33 .study-content-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 26px 30px;
    width: 100%
}

.comp-33 .study-content .badges {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px
}

.comp-33 .study-content .badges .badge {
    background-color: #fff;
    border-radius: 37px;
    color: #1e1e1e;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    letter-spacing: 1.47;
    padding: 4px 0 6px;
    text-align: center;
    text-transform: uppercase;
    width: 104px
}

.comp-33 .study-content .title {
    color: #fff;
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px
}

.comp-33 .study-content .study-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.comp-33 .study-content .location {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.comp-33 .study-content .action {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 44px;
    justify-content: center;
    transition: transform .5s ease;
    width: 44px
}

.comp-33 .study-content .action:hover {
    transform: scale(1.1)
}

.comp-33 .study-media {
    display: flex;
    height: 390px;
    position: relative;
    width: 100%
}

.comp-33 .study-media:after {
    background: linear-gradient(0deg,rgba(0,0,0,.75),hsla(0,0%,40%,0));
    border-radius: 20px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.comp-33 .study-media img {
    border-radius: 20px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}