.comp-105 {
  padding: 110px 0 0
}

.comp-105-head .title {
  color: #373f43;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center
}

.comp-105-content {
  margin-top: 60px
}

.comp-105-content-head .title {
  color: #25282a;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal
}

.comp-105-content-filters {
  margin-top: 60px
}

.comp-105-filters .mobile-overlay {
  display: none
}

.comp-105-filters .mobile-overlay.active {
  opacity: 1;
  visibility: visible
}

.comp-105-filters-main {
  position: relative
}

.comp-105-filters-main-btn.show a {
  background: #fff;
  color: #25282a
}

.comp-105-filters-main-btn.show a svg path {
  stroke: #25282a
}

.comp-105-filters-main-btn.show a .arrow-icon {
  transform: rotate(180deg)
}

.comp-105-filters-main-btn a {
  align-items: center;
  background: #25282a;
  border: 1px solid #25282a;
  border-radius: 2px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  line-height: normal;
  padding: 0 18px
}

.comp-105-filters-main-btn a .filter-icon {
  display: flex;
  height: 17px;
  margin-right: 17px;
  width: 20px
}

.comp-105-filters-main-btn a .arrow-icon {
  display: flex;
  height: 10px;
  margin-left: auto;
  width: 18px
}

.comp-105-filters-main-btn a i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body {
  background: #fff;
  left: 0;
  opacity: 0;
  padding: 15px 0;
  position: absolute;
  top: 100%;
  transform: translateY(-10px);
  transition: all .6s ease;
  visibility: hidden;
  width: 100%;
  z-index: 402
}

.comp-105-filters-body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, transparent 3px, #25282a 0, #25282a 4px, transparent 0)
}

.comp-105-filters-body::-webkit-scrollbar {
  background-color: #fff;
  width: 7px
}

.comp-105-filters-body::-webkit-scrollbar-thumb {
  background-color: #25282a;
  border-radius: 22px
}

.comp-105-filters-body.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}

.comp-105-filters-body:has(.comp-105-filters-body-item-list.show) {
  max-height: 1100px;
  overflow-y: auto;
  padding-right: 12px
}

.comp-105-filters-body ul {
  list-style: none
}

.comp-105-filters-body i {
  cursor: pointer;
  display: flex;
  height: 9px;
  width: 15px
}

.comp-105-filters-body i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-item:has(.comp-105-filters-body-item-list.show) .comp-105-filters-body-item-title a i {
  transform: rotate(180deg)
}

.comp-105-filters-body-item-title {
  border-bottom: .5px solid #25282a;
  padding: 15px 20px
}

.comp-105-filters-body-item-title a {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  justify-content: space-between;
  line-height: normal
}

.comp-105-filters-body-item-list {
  max-height: 0;
  opacity: 0;
  visibility: hidden
}

.comp-105-filters-body-item-list.mobile-active,
.comp-105-filters-body-item-list.show {
  max-height: 5000px;
  opacity: 1;
  visibility: visible
}

.comp-105-filters-body-item-list-li:has(.comp-105-filters-body-item-sublist.show) .comp-105-filters-body-item-list-li-head i {
  transform: rotate(180deg)
}

.comp-105-filters-body-item-list-li-head {
  align-items: center;
  border-bottom: .5px solid #25282a;
  cursor: pointer;
  display: flex;
  justify-content: flex-start!important;
  margin: 0 0 0 20px;
  padding: 15px 20px 15px 0
}

.comp-105-filters-body-item-list-li-head  input[type=checkbox]:checked+label:after {
  opacity: 1
}

.comp-105-filters-body-item-list-li-head label {
  color: #25282a;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 22px;
  position: relative
}

.comp-105-filters-body-item-list-li-head label:before {
  border: 1px solid #25282a;
  border-radius: 2px;
  content: "";
  height: 13px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13px
}

.comp-105-filters-body-item-list-li-head label:after {
  background: #25282a;
  border-radius: 2px;
  content: "";
  height: 9px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 9px
}

.comp-105-filters-body-item-sublist {
  max-height: 0;
  opacity: 0;
  visibility: hidden
}

.comp-105-filters-body-item-sublist.mobile-active,
.comp-105-filters-body-item-sublist.show {
  max-height: 5000px;
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}

.comp-105-filters-body-item-sublist-item:has(.comp-105-filters-body-item-sublist-item-content.show) .comp-105-filters-body-item-sublist-item-title i {
  transform: rotate(180deg)
}

.comp-105-filters-body-item-sublist-item-title {
  align-items: center;
  border-bottom: .5px solid #25282a;
  color: #25282a;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  justify-content: space-between;
  line-height: normal;
  margin: 0 0 0 20px;
  padding: 15px 20px 8px
}

.comp-105-filters-body-item-sublist-item-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0 !important;
  max-height: 190px;
  overflow-y: auto;
  padding: 0 40px
}

.comp-105-filters-body-item-sublist-item-content.show {
  margin: 10px 0 !important;
  max-height: 190px;
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}

.comp-105-filters-body-item-sublist-item-content::-webkit-scrollbar-track {
  background: linear-gradient(90deg, transparent 3px, #25282a 0, #25282a 4px, transparent 0)
}

.comp-105-filters-body-item-sublist-item-content::-webkit-scrollbar {
  background-color: #fff;
  width: 7px
}

.comp-105-filters-body-item-sublist-item-content::-webkit-scrollbar-thumb {
  background-color: #25282a;
  border-radius: 22px
}

.comp-105-filters-body-item-sublist-item-content-li input[type=checkbox]:checked+label:after {
  opacity: 1
}

.comp-105-filters-body-item-sublist-item-content-li label {
  color: #25282a;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 22px;
  position: relative
}

.comp-105-filters-body-item-sublist-item-content-li label:before {
  border: 1px solid #25282a;
  border-radius: 2px;
  content: "";
  height: 13px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13px
}

.comp-105-filters-body-item-sublist-item-content-li label:after {
  background: #25282a;
  border-radius: 2px;
  content: "";
  height: 9px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 9px
}

.comp-105-filters-body-footer .clear-all-btn {
  margin-top: 35px;
  width: 100%
}

.comp-105-filters-body-footer .clear-all-btn a {
  background: #25282a;
  border-radius: 17.5px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  line-height: normal;
  padding: 10px 0;
  width: 100%
}

.comp-105-filters-body-mobile {
  background: #fff;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  transform: translateY(50%);
  transition: all .4s ease;
  visibility: hidden;
  width: 100%;
  z-index: 999
}

.comp-105-filters-body-mobile.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}

.comp-105-filters-body-mobile-head {
  align-items: center;
  border-bottom: 1px solid #e9ebef;
  display: flex;
  padding: 20px 16px
}

.comp-105-filters-body-mobile-head .title {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 16px;
  line-height: normal
}

.comp-105-filters-body-mobile-head .title i {
  display: flex;
  height: 17px;
  width: 20px
}

.comp-105-filters-body-mobile-head .title i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-head .close-btn {
  margin-left: auto
}

.comp-105-filters-body-mobile-head .close-btn a i {
  display: flex;
  height: 14px;
  width: 14px
}

.comp-105-filters-body-mobile-head .close-btn a i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-content {
  height: 202px;
  overflow: hidden;
  overflow-y: auto
}

.comp-105-filters-body-mobile-content-item {
  border-bottom: 1px solid #e9ebef;
  padding: 18px 16px
}

.comp-105-filters-body-mobile-content-item-head {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  justify-content: space-between;
  line-height: normal
}

.comp-105-filters-body-mobile-content-item-list {
  background: #fff;
  bottom: 109px;
  height: 260px;
  left: 0;
  position: fixed;
  transform: translateX(100%);
  transition: all .6s ease;
  visibility: hidden;
  width: 100%
}

.comp-105-filters-body-mobile-content-item-list.show {
  transform: translateX(0);
  visibility: visible
}

.comp-105-filters-body-mobile-content-item-list .list-head {
  align-items: center;
  border-bottom: 1px solid #e9ebef;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 20px;
  line-height: normal;
  padding: 20px 16px
}

.comp-105-filters-body-mobile-content-item-list .list-head .back-btn i {
  display: flex;
  height: 15px;
  width: 9px
}

.comp-105-filters-body-mobile-content-item-list .list-head .back-btn i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-content-item-list .list-head .close-btn {
  margin-left: auto
}

.comp-105-filters-body-mobile-content-item-list .list-content {
  height: 202px;
  overflow: hidden;
  overflow-y: auto
}

.comp-105-filters-body-mobile-content-item-list .list-content-item {
  border-bottom: 1px solid #e9ebef;
  padding: 18px 16px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-head {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  justify-content: space-between;
  line-height: normal
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist {
  background: #fff;
  bottom: 0;
  height: 260px;
  left: 0;
  position: fixed;
  transform: translateX(100%);
  transition: all .6s ease;
  visibility: hidden;
  width: 100%
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist.show {
  transform: translateX(0);
  visibility: visible
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-head {
  align-items: center;
  border-bottom: 1px solid #e9ebef;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 20px;
  line-height: normal;
  padding: 20px 16px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-head .back-btn i {
  display: flex;
  height: 15px;
  width: 9px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-head .back-btn i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-head .close-btn {
  margin-left: auto
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 202px;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px 16px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item form {
  display: flex
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item input:checked+label {
  background: #25282a;
  color: #fff
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item input:checked+label .bars .bar {
  background: #fff
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item input:checked+label .bars .bar:last-child {
  opacity: 0
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item label {
  background: #e9ebef;
  border-radius: 20px;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 24px;
  position: relative;
  transition: all .4s ease;
  width: 100%
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item label .bars {
  height: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item label .bars .bar {
  background: #25282a;
  display: flex;
  position: absolute
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item label .bars .bar:first-child {
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px
}

.comp-105-filters-body-mobile-content-item-list .list-content-item-sublist-body-item label .bars .bar:last-child {
  height: 12px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px
}

.comp-105-filters-body-mobile-selected-filters {
  align-items: center;
  bottom: 100%;
  display: none;
  flex-wrap: wrap-reverse;
  gap: 16px;
  left: 16px;
  margin-bottom: 16px;
  position: absolute
}

.comp-105-filters-body-mobile-selected-filters.show {
  display: flex
}

.comp-105-filters-body-mobile-selected-filters .selected-filters-item {
  align-items: center;
  background: #656565;
  border-radius: 17px;
  color: #fff;
  display: flex;
  font-size: 12px;
  gap: 20px;
  line-height: normal;
  padding: 10px 14px
}

.comp-105-filters-body-mobile-selected-filters .selected-filters-item i {
  cursor: pointer;
  display: flex;
  height: 8px;
  width: 8px
}

.comp-105-filters-body-mobile-selected-filters .selected-filters-item i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-footer {
  align-items: center;
  border-top: 1px solid #25282a;
  display: flex;
  gap: 16px;
  padding: 32px 16px
}

.comp-105-filters-body-mobile-footer .apply-btn {
  display: flex;
  width: 100%
}

.comp-105-filters-body-mobile-footer .apply-btn a {
  align-items: center;
  background: #25282a;
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  line-height: normal;
  width: 100%
}

.comp-105-filters-body-mobile-footer .apply-btn a span {
  background: #fff;
  border-radius: 50%;
  color: #25282a;
  margin-left: 6px;
  padding: 3px 7px
}

.comp-105-filters-body-mobile-footer .clear-btn {
  display: none
}

.comp-105-filters-body-mobile-footer .clear-btn.show {
  display: flex
}

.comp-105-filters-body-mobile-footer .clear-btn a {
  align-items: center;
  border: 1px solid #25282a;
  border-radius: 22px;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  line-height: normal;
  padding: 0 20px
}

.comp-105-filters .comp-105-mobile-selected-download-btn {
  bottom: 120px;
  display: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 6px;
  width: 100%;
  z-index: 778
}

.comp-105-filters .comp-105-mobile-selected-download-btn:not(:has(.in-section)) {
  display: none
}

.comp-105-filters .comp-105-mobile-selected-download-btn a {
  align-items: center;
  background: #25282a;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .1);
  color: #fff;
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  gap: 7px;
  line-height: normal;
  padding: 12px 15px
}

.comp-105-filters .comp-105-mobile-selected-download-btn a b {
  font-style: normal;
  font-weight: 600
}

.comp-105-filters .comp-105-mobile-selected-download-btn a i {
  display: flex;
  height: 19px;
  width: 19px
}

.comp-105-filters .comp-105-mobile-selected-download-btn a i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-body-mobile-applied-fixed {
  align-items: center;
  background: #fff;
  bottom: 0;
  box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, .07);
  display: flex;
  display: none;
  gap: 16px;
  left: 0;
  padding: 32px 16px;
  position: fixed;
  width: 100%;
  z-index: 778
}

.comp-105-filters-body-mobile-applied-fixed:not(:has(.in-section)) {
  display: none
}

.comp-105-filters-body-mobile-applied-fixed .apply-btn {
  display: flex;
  width: 100%
}

.comp-105-filters-body-mobile-applied-fixed .apply-btn a {
  align-items: center;
  background: #25282a;
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  line-height: normal;
  width: 100%
}

.comp-105-filters-body-mobile-applied-fixed .apply-btn a span {
  background: #fff;
  border-radius: 50%;
  color: #25282a;
  margin-left: 6px;
  padding: 3px 7px
}

.comp-105-filters-body-mobile-applied-fixed .clear-btn {
  display: flex
}

.comp-105-filters-body-mobile-applied-fixed .clear-btn a {
  align-items: center;
  border: 1px solid #25282a;
  border-radius: 22px;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  line-height: normal;
  padding: 0 20px
}

.comp-105-filters-download-btn a {
  align-items: center;
  background: #e9ebef;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
  color: #373f43;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  justify-content: space-between;
  line-height: normal;
  padding: 12px
}

.comp-105-filters-download-btn a:hover i {
  transform: translateY(2px)
}

.comp-105-filters-download-btn a b {
  font-style: normal;
  font-weight: 700
}

.comp-105-filters-download-btn a i {
  display: flex;
  height: 20px;
  transition: transform .4s ease;
  width: 20px
}

.comp-105-filters-download-btn a i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters .download-progress {
  display: flex;
  flex-direction: column-reverse;
  gap: 7px;
  height: 100%;
  justify-content: center
}

.comp-105-filters .download-progress .progress-bar {
  background: #25282a;
  border-radius: 10px;
  height: 7px
}

.comp-105-filters .download-progress .progress-text {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  line-height: normal
}

.comp-105-filters-search form {
  position: relative
}

.comp-105-filters-search form input {
  border: 1px solid #25282a;
  border-radius: 22px;
  color: #25282a;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  line-height: normal;
  padding: 0 20px;
  width: 100%
}

.comp-105-filters-search form button {
  background: #25282a;
  border: none;
  border-radius: 0 22px 22px 0;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0
}

.comp-105-filters-search form button i {
  display: flex;
  height: 15px;
  width: 15px
}

.comp-105-filters-search form button i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-sort {
  align-items: center;
  border: 1px solid #25282a;
  border-radius: 2px;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  z-index: 22
}

.comp-105-filters-sort-title {
  color: #25282a;
  font-size: 14px;
  line-height: normal
}

.comp-105-filters-sort.show .comp-105-filters-sort-options {
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}

.comp-105-filters-sort.show .active-sort .icon i {
  transform: rotate(180deg)
}

.comp-105-filters-sort .active-sort {
  align-items: center;
  display: flex;
  gap: 10px
}

.comp-105-filters-sort .active-sort a {
  color: #25282a;
  font-size: 14px;
  line-height: normal
}

.comp-105-filters-sort .active-sort .icon {
  display: flex
}

.comp-105-filters-sort .active-sort .icon i {
  display: flex;
  height: 9px;
  transition: transform .6s ease;
  width: 15px
}

.comp-105-filters-sort .active-sort .icon i svg {
  height: 100%;
  width: 100%
}

.comp-105-filters-sort-options {
  align-items: center;
  background: #fff;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  outline: 1px solid #25282a;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-10px);
  transition: all .6s ease;
  visibility: hidden;
  width: 100%
}

.comp-105-filters-sort-options a {
  color: #25282a;
  font-size: 14px;
  line-height: normal;
  transition: all .4s ease
}

.comp-105-filters-sort-options a:hover {
  opacity: .7
}

.comp-105-content-body {
  border-top: 1px solid #373f43;
  margin-top: 30px;
  min-height: 500px;
  padding-top: 54px
}

.comp-105-content-body:has(.comp-105-content-body-selected-filters) {
  padding-top: 0
}

.comp-105-content-body-selected-filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 30px 0
}

.comp-105-content-body-selected-filters .clear-btn {
  display: flex
}

.comp-105-content-body-selected-filters .clear-btn a {
  align-items: center;
  background: #25282a;
  border-radius: 16px;
  color: #fff;
  display: flex;
  font-size: 12px;
  gap: 20px;
  height: 23px;
  justify-content: center;
  line-height: normal;
  padding: 0 10px
}

.comp-105-content-body-selected-filters .clear-btn a i {
  display: flex;
  height: 12px;
  width: 12px
}

.comp-105-content-body-selected-filters .clear-btn a i svg {
  height: 100%;
  width: 100%
}

.comp-105-content-body-selected-filters .selected-filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}

.comp-105-content-body-selected-filters .selected-filters-item {
  align-items: center;
  background: #dcdee5;
  border-radius: 16px;
  color: #25282a;
  display: flex;
  font-size: 12px;
  gap: 20px;
  height: 23px;
  justify-content: center;
  line-height: normal;
  padding: 0 10px
}

.comp-105-content-body-selected-filters .selected-filters-item a i {
  display: flex;
  height: 12px;
  width: 12px
}

.comp-105-content-body-selected-filters .selected-filters-item a i svg {
  height: 100%;
  width: 100%
}

.comp-105-content-body-list .table {
  position: relative;
  width: 100%
}

.comp-105-content-body-list .table:after {
  background: #25282a;
  bottom: -20px;
  content: "";
  height: 1px;
  left: 24px;
  position: absolute;
  width: calc(100% - 48px)
}

.comp-105-content-body-list .table .thead {
  border-bottom: 1px solid #25282a;
  margin-bottom: 20px;
  padding-bottom: 14px
}

.comp-105-content-body-list .table .thead .tr {
  -moz-column-gap: 7px;
  column-gap: 7px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr;
  width: 100%
}

.comp-105-content-body-list .table .thead .tr .th {
  color: #25282a;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal
}

.comp-105-content-body-list .table .tbody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 970px;
  overflow-y: auto;
  padding-bottom: 36px
}

.comp-105-content-body-list .table .tbody::-webkit-scrollbar-track {
  background: linear-gradient(90deg, transparent 3px, #25282a 0, #25282a 4px, transparent 0)
}

.comp-105-content-body-list .table .tbody::-webkit-scrollbar {
  background-color: #fff;
  width: 7px
}

.comp-105-content-body-list .table .tbody::-webkit-scrollbar-thumb {
  background-color: #25282a;
  border-radius: 22px
}

.comp-105-content-body-list .table .tbody .tr {
  -moz-column-gap: 7px;
  column-gap: 7px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr;
  width: 100%
}

.comp-105-content-body-list .table .tbody .tr.no-results {
  grid-template-columns: 1fr
}

.comp-105-content-body-list .table .tbody .tr.no-results .td {
  font-style: normal;
  font-weight: 700
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox {
  border: 1px solid #25282a;
  border-radius: 2px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  position: relative;
  width: 70px
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox input {
  display: none
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox input:checked+label {
  background: #25282a;
  color: #fff
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox input:checked+label:before {
  background: #fff
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox label {
  align-items: center;
  color: #373f43;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 100%;
  justify-content: flex-end;
  line-height: normal;
  padding-right: 5px;
  position: relative;
  width: 100%;
  z-index: 22
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox label:before {
  background: #25282a;
  content: "";
  height: calc(100% - 10px);
  left: 50%;
  position: absolute;
  top: 5px;
  transform: translateX(-50%);
  width: 1px
}

.comp-105-content-body-list .table .tbody .tr .download-checkbox label:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 3.084 4.028 7 11 1'/%3E%3C/svg%3E");
  content: "";
  height: 8px;
  left: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px
}

.comp-105-content-body-list .table .tbody .tr .td {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  line-height: normal
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-desktop button {
  align-items: center;
  background: #fff;
  border: 1px solid #25282a;
  border-radius: 16px;
  color: #373f43;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  line-height: normal;
  padding: 0 9px;
  transition: all .4s ease
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-desktop button:hover {
  background: #373f43;
  color: #fff
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-mobile {
  display: none
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-mobile button {
  background: none;
  border: none;
  cursor: pointer
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-mobile button i {
  display: flex;
  height: 20px;
  width: 20px
}

.comp-105-content-body-list .table .tbody .tr .td .download-btn-mobile button i svg {
  height: 100%;
  width: 100%
}

.comp-105-pagination {
  align-items: center;
  display: none;
  gap: 60px;
  justify-content: center
}

.comp-105-pagination .pagination-btn,
.comp-105-pagination .pagination-btn i {
  display: flex;
  height: 12px;
  width: 15px
}

.comp-105-pagination .pagination-btn i svg {
  height: 100%;
  width: 100%
}

.comp-105-pagination .pagination-numbers {
  align-items: center;
  color: #25282a;
  display: flex;
  font-size: 14px;
  line-height: normal
}

.comp-105-pagination .pagination-numbers .current-page {
  border: 1px solid #25282a;
  border-radius: 2px;
  padding: 6px 7px
}

.comp-105-pagination .pagination-numbers .divider {
  margin: 0 2px 0 6px
}

.comp-105-popup {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .3s ease;
  visibility: hidden;
  width: 100vw;
  z-index: -2
}

.comp-105-popup.show {
  opacity: 1;
  visibility: visible;
  z-index: 1000
}

.comp-105-popup:after {
  background-color: rgba(0, 0, 0, .9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1
}

.comp-105-popup .popup {
  align-items: center;
  display: flex;
  height: 100%
}

.comp-105-popup .popup-wrapper {
  background: #d9d9d9;
  border-radius: 52px;
  padding: 50px 0 70px;
  width: 630px
}

.comp-105-popup .popup-close {
  align-items: flex-end;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  padding: 0 50px;
  width: 100%
}

.comp-105-popup .popup-close:hover i {
  transform: rotate(90deg)
}

.comp-105-popup .popup-close i {
  display: flex;
  height: 33px;
  transition: transform .4s ease;
  width: 33px
}

.comp-105-popup .popup-close i svg {
  height: 100%;
  width: 100%
}

.comp-105-popup .popup-title {
  margin-top: 50px;
  padding: 0 100px
}

.comp-105-popup .popup-title h1,
.comp-105-popup .popup-title h2,
.comp-105-popup .popup-title h3,
.comp-105-popup .popup-title h4,
.comp-105-popup .popup-title h5,
.comp-105-popup .popup-title h6 {
  color: #1e1e1e;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center
}

.comp-105-popup .popup-title h1 strong,
.comp-105-popup .popup-title h2 strong,
.comp-105-popup .popup-title h3 strong,
.comp-105-popup .popup-title h4 strong,
.comp-105-popup .popup-title h5 strong,
.comp-105-popup .popup-title h6 strong {
  font-style: normal;
  font-weight: 600
}

.comp-105-popup .popup-form {
  margin-top: 56px;
  padding: 0 74px
}

.comp-105-popup .popup-form .gform_title {
  display: none
}

.comp-105-popup .popup-form .gform_validation_errors {
  margin-bottom: 15px;
  text-align: center
}

.comp-105-popup .popup-form .gform_validation_errors h1,
.comp-105-popup .popup-form .gform_validation_errors h2,
.comp-105-popup .popup-form .gform_validation_errors h3,
.comp-105-popup .popup-form .gform_validation_errors h4,
.comp-105-popup .popup-form .gform_validation_errors h5,
.comp-105-popup .popup-form .gform_validation_errors h6,
.comp-105-popup .popup-form .gform_validation_errors span {
  color: #000;
  font-size: 20px
}

.comp-105-popup .popup-form form .gfield_validation_message {
  color: #1e1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500
}

.comp-105-popup .popup-form form .gform_fields {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.comp-105-popup .popup-form form .gfield label {
  display: none
}

.comp-105-popup .popup-form form .gfield input {
  background: none;
  border: 1px solid #1e1e1e;
  border-radius: 15px;
  color: #1e1e1e;
  font-size: 22px;
  height: 70px;
  line-height: 150%;
  padding: 0 32px;
  width: 100%
}

.comp-105-popup .popup-form form .gfield input::-moz-placeholder {
  color: rgba(30, 30, 30, .7)
}

.comp-105-popup .popup-form form .gfield input::placeholder {
  color: rgba(30, 30, 30, .7)
}

.comp-105-popup .popup-form form .gform-footer {
  margin-top: 76px
}

.comp-105-popup .popup-form form .gform-footer .button {
  border-radius: 15px;
  display: flex;
  justify-content: center
}

.comp-105-popup .popup-form form .gform-footer button {
  background: none;
  background: #1e1e1e;
  border: none;
  border-radius: 15px !important;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: 70px;
  line-height: 150%;
  padding: 0 98px;
  text-align: center;
  transition: transform .4s ease
}

.comp-105-popup .popup-form form .gform-footer button:hover {
  transform: scale(1.03)
}

.comp-105 .download-progress-container.d-none~.ms-lg-only-auto .comp-105-filters-sort {
  margin-top: 0
}
